.mvps
  font-family: monospace, sans-serif;
  position: relative
  padding-bottom: 15px

.mvps-line
  display: inline-block
  width: 100%
  height: 2px
  background-color: #c4c4c4

.mvps-max
  float: right

.mvps-bar
  height: 2px
  width: 50%
  position: absolute
  background-color: #9800ff
  top: 13px
  left: 0

.mvps-handle
  display: inline-block
  width: 28px
  height: 28px
  background-color: #9800ff
  border: 2px solid #ffffff
  border-radius: 50%
  position: absolute
  top: 0
  left: 50%
  margin-left: -14px
  box-sizing: border-box
  &:hover
    cursor: pointer

.mvps-label
  width: 34px
  height: 24px
  background-color: #ffffff
  border: 1px solid #9800ff
  position: absolute
  bottom: 0
  left: 50%
  margin-left: -17px
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  line-height: 16px